nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    max-width: 1440px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 50px;
    border-bottom: 1px solid #C3D4E9;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbar__left h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #3563E9;
    font-weight: bold;
}

.navbar__input {
    position: relative;
}

.navbar__input input {
    width: 492px;
    height: 44px;
    border-radius: 30px;
    color: #596780;
    padding-left: 50px;
    outline: none;
    border: 1px solid #C3D4E9;
}

.navbar__input input ::placeholder {
    color: #596780;
}

.navbar__input .search-icon {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #596780;
    font-size: 24px;
}

.navbar__input .options-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    color: #596780;
}

.navbar__right {
    display: flex;
    align-items: center;
    height: 44px;
}

.navbar__right__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__right .navbar__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.navbar__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar__right .right-icons {
    font-size: 34px;
    padding: 8px;
    border: 1px solid #C3D4E9;
    border-radius: 50%;
    color: #596780;
}

.point__icon {
    position: relative;
}

.point__icon::before {
    content: "";
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

.bar-icons {
    display: none;
}

@media only screen and (max-width:1050px) {
    .navbar__right__icons {
        display: none;
    }
}

@media only screen and (max-width:900px) {

    .navbar__input input {
        width: 263px;
        border-radius: 10px;
    }

    .navbar__input {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar__input .options-icon {
        position: static;
        font-size: 40px;
        color: #596780;
        padding: 6px;
        border: 1px solid #C3D4E9;
        border-radius: 10px;
    }

    .navbar__right {
        margin-left: -90px;
    }

    .navbar {
        padding: 0;
        display: flex;
        justify-content: space-around;
        padding: 30px 20px 20px 20px;
    }

    .navbar__left h1 {
        font-size: 26px;
    }

    .navbar__profile {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width:768px) {
    .navbar__left {
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        align-items: start;
    }

    .bar-icons {
        display: block;
        color: #596780;
        font-size: 22px;
        cursor: pointer;
    }

    .navbar {
        height: 200px;
    }

}